<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="server" connectionString="127.0.0.1"/>
    <add name="database" connectionString="pacs"/>
    <add name="login" connectionString="pacs"/>
    <add name="password" connectionString="pacs"/>
    
    <add name="PaCS.Properties.Settings.ConnectionString" connectionString="Data Source=sstpop;Persist Security Info=True;User ID=cpopuser;Password=cpop2000;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="PaCS.Properties.Settings.pacsConnectionString" connectionString="server=127.0.0.1;user id=pacs;password=pacs;persistsecurityinfo=True;database=pacs" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>